src/main/mule/arithmetic-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="79576a1c-247a-41cc-b98b-4874372a88f1" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="arithmetic-apiFlow" doc:id="3ad9c0d3-d3a7-442c-b84f-6db7699bdfc1" >
		<http:listener doc:name="GET / Addition" doc:id="5744706c-0a69-4164-8475-3e46c3d5d452" config-ref="HTTP_Listener_config" path="/addition/{num1}/{num2}"/>
		<logger level="INFO" doc:name="Logger" doc:id="af31cc2e-faf3-4575-9c29-b617fa5b2dc7" message='"Hi This is mulesoft class"'/>
		<set-variable value='#[attributes.headers.num1]' doc:name="num1" doc:id="8f98cc4c-f749-4324-bd01-979a7f013194" variableName="num1"/>
		<set-variable value="#[attributes.uriParams.num2]" doc:name="num2" doc:id="9f4a4106-12b8-453c-9766-dcb469adfd96" variableName="num2"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1708583c-b024-414e-a1a9-7b0637cac897" />
		<ee:transform doc:name="Transform Message" doc:id="34d6bda2-54e0-4fa7-b9de-56a7ca95ace7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Add" :vars.num1 as Number + vars.num2  as Number
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6bc047d7-bdf8-4390-af04-a85d26cbe430" message="the results is #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="5b817c22-670a-4c91-a3ad-dc2824e3fb3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
