src/main/mule/substraction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="substractionFlow" doc:id="db4d7fa3-6464-4a0d-a7bb-0b4d24233971" >
		<http:listener doc:name="Listener" doc:id="5c278da5-4283-4578-aca7-98f4e314f00c" config-ref="HTTP_Listener_config" path="/sub"/>
		<logger level="INFO" doc:name="Logger" doc:id="08920df3-a2f3-4ac8-905e-a60b25c4625c" message='"Enter into substraction flow" '/>
		<set-variable value="#[attributes.headers.num1]" doc:name="num1" doc:id="2ceac55e-a8a4-48b0-ade8-c56e6f3ee0b6" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="num2" doc:id="eca6fd3f-4aa4-46d1-bf61-6b7e45878914" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="09abb369-692a-4004-be7b-258c8f535934" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"subtraction" : vars.num1 as Number - vars.num2 as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7f606517-9a67-44f4-86dd-f9766c2834a4" message='"Completed sub flow"'/>
		<logger level="INFO" doc:name="Logger" doc:id="e0cf7e80-005d-46e4-8223-476613aa3805" />
	</flow>
</mule>
